<form class="edit_post" id="edit_post_2" action="/posts/2" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="+LQ4Xigv2ISDgaGIWP6v9ypbC/OYo2Kj0+lLgDEp0sK964BQqkf4NAxHmr8Y3qUJV/TCdcRdJnmS1QEChUvNIg==" />  <div class='field'>
    <label for="post_body">Body</label>
    <textarea name="post[body]" id="post_body">
mi segundo post</textarea>
  </div>
  <div class='field'>
    <label for="post_user">User</label>
    <input type="text" value="#&lt;User:0x000000023d3f18&gt;" name="post[user]" id="post_user" />
  </div>
  <div class='actions'>
    <input type="submit" name="commit" value="Save" data-disable-with="Save" />
  </div>
</form>