.row.middle-xs
	.col-xs-2.col-md-1.text-left
		=circle_img friendship.user_view.avatar.url(:thumb), 50
	.col-xs-7.col-md-7.text-left
		.box
		=friendship.user_view.username
	.col-xs-3.col-md-4
		=friendship.status_or_buttons